<h1 id="top">Zdjęcia</h1>

<% @locations.each do |location| %>
   <% if location.has_images %>
      <a href="#<%= location.name %>"><%= location.name %></a>
   <% end %>
<% end %>



<% @locations.each do |location| %>
<% if location.has_images %>
  <h2 id="<%= location.name %>"><%= location.name %></h2>
  <h4><%= location.country %></h4>
  <br/>
  <% location.images.each do |image| %>
  <img src="/images/gallery/<%= location.image_dir %>/<%= image %>" alt="<%= location.name %>" width="280"/>
  <% end %>
  <br/>
  <a href="#top">Do góry</a>
<% end %>
<% end %>